# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Vaibhav\example\Microservice\spring-cloud-with-api-gatway-hystrix\spring-cloud-gateway-hystrix-master\service-registry\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
